.login {
  width: 25em;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  padding: 2em;
  background-color: #3b438b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 20em;
  margin: auto;
}


body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0; 
 
}

.login label {
  color: #fbc02c; 
}
.creation {
  color: #fbc02c;
  
}




  