
.pizzaCard {
  width: 100%;
  margin-bottom: 20px;
}

/*.pizzaCard img {
  width: 200px; 
  height: auto; 
  margin-right: 10px; 
}*/

.pizzaCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.pizzaName {
  font-size: 1.5rem; 
  margin-bottom: 10px; 
}











  