.App {
    text-align: center;
  }
  
  main {
    padding: 2.5em 0.5em;
  }
  
  header.css-1r11njw-MuiPaper-root-MuiAppBar-root {
    background-color: #3b438b;
    color: #fbc02c;
    width: 100%;
  }
  
  
  