.addClientForm {
  width: 60em;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  padding: 2em;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addClientForm .MuiCardContent-root {
  background-color: #3b438b; /* Couleur de fond de la carte */
}

.addClientForm label {
  color: #fbc02c; /* Couleur des labels */
  padding-right: 20px;
}

.addClientForm .MuiInputBase-root {
  color: #3b438b; /* Couleur de l'écriture dans les inputs */
}

.addClientForm .MuiInputBase-input {
  color: #000; /* Couleur de l'écriture pour les placeholders lorsqu'ils sont actifs */
  background-color: #ffffff;
  border-radius: 8px;
  padding-left: 50px
}

.addClientForm .MuiOutlinedInput-notchedOutline {
  
  border-radius: 8px;
}

.formRow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .formField {
    flex: 1;
    min-width: calc(50% - 20px);
    margin-right: 20px;
  }
  
  .formField:last-child {
    margin-right: 0;
  }
  
  
  
 
  .inputField {
    color: black; /* Couleur de l'écriture hors placeholders */
    background-color: white; /* Couleur de fond des inputs */
    padding-left: 10px
  }
  /* Sélectionnez les placeholders des champs de texte */
input::placeholder {
    border-radius: 8px; /* Arrondir les coins */
    padding-left: 50px
  }
  
  

